*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    touch-action: manipulation;
}

html{
  scroll-behavior: smooth;

}
body{
  position: relative;
}
.heart{
  position: absolute;
  color: #f62682;
  font-size: 100px;
  z-index: 999999;
  animation: heart 2s linear 1;
  transform-style: preserve-3d;
}
@keyframes heart{

  100%{
    top: 0;
    transform:  rotate(360deg) scale(2) rotateY(360deg);
  }
}
.container{
  background-image: linear-gradient(to left top, #6a5af9, #f62682);
  height: 100vh;
  width: 100%;
  padding-top: 40px;
}
.count.active{
  transform: rotateY(180deg);
}
.flip_back.active{
  visibility: hidden;
}
.flip_back{
  font-size: 53px;
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 9999999999;
}
.flip_front.active{
  visibility: hidden;
}
.flip_front{
  font-size: 53px;
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 9999999999;
}
.count{
  position: relative;
  width: 870px;
  height: 1633px;
  margin: auto;
  transform-style: preserve-3d;
  transition: all 0.6s ease;
  border-radius: 20px;
}
.count_front,
.count_back{
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  width: 100%;
  height: 100%;
}
.count_front{
  z-index: -10;
  padding: 0 20px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.countdown_slider{
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 40px;
  top: 0;
  left: 0;
  scroll-behavior: smooth;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;
}
.countdown__slider{
  display: flex;
  position: relative;
  height: 100%;
  
}
.coudown__item{
  flex: 1 0 100%;
  user-select: none;
}
.coudown__item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.countdown_list{
  opacity: 0.6;
  z-index: 1000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.countdown_item{
  margin-bottom: 10px;
  user-select: none;
  z-index: 100;
}
.countdown_number{
  text-align: center;
  font-size: 60px;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 1px;
  color: black;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  font-family: 'Lobster', cursive;
  padding: 10px;
  border-radius: 60px;

}
.countdown_day,
.countdown_hour,
.countdown_minutes,
.countdown_second{
  color: #dc4c46;
  font-family: 'Merriweather Sans', sans-serif;
  font-size:150px;
  font-weight: 700px;
  text-align: center;

}
.count_back{
    transform: rotateY(180deg);
    border-radius: 20px;
    background: #fff;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    z-index: 10;
  }
.back_content{
  padding: 20px 0;
}
.back_heading{
  font-size: 32px;
  text-align: center;
  display: block;
  color: #f62682;
}
.back_name{
  display: block;
  font-size: 45px;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 31px;
  font-weight: 600;
}
.back_img::after{
  content: '';
  position: absolute;
  width: 290px;
  height: 290px;
  /* border: 30px solid #6a5af9; */

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 888px;
  /* animation: back_img 5s ease-in-out infinite alternate; */
}
@keyframes back_img{
  to{
    width: 320px;
    height: 320px;
  }
}
.back_img{
  position: relative;
  width: 340px;
  height: 340px;
  background: linear-gradient(to right top, #43cea2 , #185a9d);
  border-radius: 888px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.back_img.active {
  animation: back_img 8s linear infinite;
}
@keyframes back_img{
  to{
    transform: rotate(360deg);
  }
}
.back__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  width: 90%;
  height: 90%;
  border-radius: 888px;
  overflow: hidden;
}

.back_toolbar{
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 47px;
    margin: 86px 0 39px 0;
}
.back_reload, 
.back_prev,
.back_next,
.back_random{
  position: relative;
  font-size: 60px;
  cursor: pointer;
}


.back_reload{

}
.back_prev{

}
.back_play{
  font-size: 110px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 888px;
  color: #f62682;
  cursor: pointer;
}
.back_random{

}
.back_range{
  width: 100%;
  padding: 53px;
}
.back_range input{
  width: 100%;
}
.back_list{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  overflow: scroll;
  scroll-behavior: smooth;
  height: 587px;
}
.back_item.active{
  border: 10px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right bottom, #2193b0 , #f62682);
}
.back_item{
  display: flex;
    justify-content: space-between;
    padding: 20px 39px;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 59px;
}
.back_item *{
  pointer-events: none;
}
.back_item_img{
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 888px;
}
.back_item_content {
  width: 413px;
}
.back_content_name {
  font-size: 41px;
}
.back_content_author {
  font-size: 32px;
}
.back_item_icon{
  font-size: 58px;
}